@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --border: 0 0% 90%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;

    --card: 0 0% 8%;
    --border: 0 0% 20%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 0%;
  }

  body {
    @apply bg-background text-foreground;
  }
}
