@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --border: 0 0% 90%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;

    --card: 0 0% 8%;
    --border: 0 0% 20%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 0%;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@keyframes glow {
  0% {
    opacity: 0.4;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.4;
    transform: scale(0.95);
  }
}

.animate-glow {
  animation: glow 4s ease-in-out infinite;
}
